<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/welcome.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/cart.css') }}">
</head>
<body>
    <div class="title-container">
        <li class="title"><a href="/">group-2</a></li>
        <div class="login-register">
            {% if session['user'] %}
            <button id="viewUserInfo" onclick="window.location.href='/viewUserInfo'">{{session['user'].name}} mypage</button>
            <button2 id="order" onclick="window.location.href='/viewOrderHistory'">주문 내역</button2>
            <button id="logout" onclick="window.location.href='/logout'">Logout</button>
            <button id="viewCart" onclick="window.location.href='/viewCart'">Cart</button>
            {% endif %}
            {% if not session['user'] %}
            <button1 id="login" onclick="window.location.href='/viewLogin'">Login</button1>
            <button1 id="register" onclick="window.location.href='/viewRegister'">Register</button1>
            {% endif %}
        </div>
    </div>
    <ul>
        <li><a href="/products?category=all">All products</a></li>
        <li><a href="/products?category=OUTER">Outer</a></li>
        <li><a href="/products?category=TOP">Top</a></li>
        <li><a href="/products?category=BOTTOM">Bottom</a></li>
        <li><a href="/products?category=ACC">Acc</a></li>
    </ul>
    <div><span>{{ message }}</span></div>
<div class="content_subject">
    <table class="subject_table">
        <tbody>
        <tr>
            <th class="td_width_1">상품명</th>
            <th class="td_width_2">가격</th>
            <th class="td_width_3">수량</th>
            <th class="td_width_2">합계</th>
            <th class="td_width_3">삭제</th>
        </tr>
        </tbody>
        <tbody>
            {% for product in session['cart'] %}
                <tr>
                    <td class="td_width_0">
                        <img src="/static/thumbnail/{{ session['cart'][product]['category'] }}/{{ session['cart'][product]['filename'] }}">
                        <div>{{ session['cart'][product]['name'] }}</div>
                    </td>
                    <td class="td_width_2 price_td">{{ session['cart'][product]['price'] }}</td>
                    <td class="td_width_3 price_td">
                        <form action="/updateQuantity" method="post">
                            <input type="hidden" name="productId" value="{{ product }}">
                            <input type="number" name="quantity" value="{{ session['cart'][product]['quantity'] }}">
                            <button>변경</button>
                        </form>
                    </td>
                    <td class="td_width_2 table_text_align_center">{{ session['cart'][product]['totalPrice'] }}</td>
                    <td class="td_width_3 table_text_align_center delete_btn">
                        <form action="/deleteProduct" method="post">
                            <input type="hidden" name="productId" value="{{ product }}">
                            <button>삭제</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>총 결제 예상 금액</td>
                <td>{{ session['finalTotalPrice'] }}</td>
                <td><button type="submit" onclick="location.href='/viewOrder'">주문</button></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>