. {
  display: inline;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
  background-color: #111;
}

.page {
  text-align: center;
  width: 100%;
}

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 20px;
  text-align: center;
}

.pagination li {
  display: inline;
  text-align: center;
}

.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #96a0ad;
  line-height: 1.5;
}
.left:hover, .right:hover {
  color: #2e9cdf;
}

.pagination a.active {
  cursor: default;
  color: #ffffff;
}

.pagination a.active {
  outline: none;
}

.modal .num {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
}

.modal .num.active, .modal .num:active {
  background-color: #2e9cdf;
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.item {
  width: 25%;
  flex: 1 1 auto;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
  padding: 5px 5px
}

.textBox__description {
  overflow: hidden;
}

.qt {
  width: 30px;
}