<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/products.css') }}">
    <title>Products</title>
</head>
<body>
<ul class="nav">
    <li><a href="/">Home</a></li>
      {% if session['user'] %}
        <li><a href="/viewUserInfo">{{session['user'].name}}</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/viewCart">Cart</a></li>
      {% endif %}
      {% if not session['user'] %}
        <li><a href="/viewLogin">Login & Register</a></li>
      {% endif %}

      <li><a href="/products?category=all">All products</a></li>
      <li><a href="/products?category=OUTER">Outer</a></li>
      <li><a href="/products?category=TOP">Top</a></li>
      <li><a href="/products?category=BOTTOM">Bottom</a></li>
      <li><a href="/products?category=ACC">Acc</a></li>
  </ul>
<div class="container">
    {% for product in productList %}
    <div class="item">
        <div class="textBox">
            <p class="textBox__name"> {{ product['name'] }}</p>
            <p class="textBox__price"> {{ product['price'] }}</p>
            <p class="textBox__description"> {{ product['description'] }}</p>
            {% if session['user'] %}
                <form class=textBox__input" action="/addCart" method="post">
                    <input type="hidden" name="productId" value="{{ product['id'] }}">
                    <input type="number" name="quantity" value="1">
                    <button>Add Cart</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
    <div class="page">
        <ul class="pagination modal">
            {% if currentPage > 1 %}
            <li>
                <a class="arrow left" href="/products?category={{ category }}&page={{ currentPage-1 }}">이전</a>
            </li>
            {% endif %}
            {% for page in range(pageFirst, pageEnd + 1) %}
                {% if currentPage != page %}
                <li>
                    <a class="num" href="/products?category={{ category }}&page={{ page }}">{{ page }}</a>
                </li>
                {% else %}
                <li>
                    <a class="active num" href="/products?category={{ category }}&page={{ page }}">{{ page }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if currentPage < end %}
            <li>
                <a class="arrow right" href="/products?category={{ category }}&page={{ currentPage+1 }}">다음</a>
            </li>
            {% endif %}
        </ul>
    </div>
</body>
</html>