<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/welcome.css') }}">
    <title>Welcome</title>
</head>
<body>
  <h1>5조 - webapp</h1>
  <ul>
      <li><a href="/">Home</a></li>
      {% if session['user'] %}
        <li><a href="/viewUserInfo">{{session['user'].name}}</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/viewCart">Cart</a></li>
      {% endif %}
      {% if not session['user'] %}
        <li><a href="/viewLogin">Login & Register</a></li>
      {% endif %}

      <li><a href="/products?category=all">All products</a></li>
      <li><a href="/products?category=OUTER">Outer</a></li>
      <li><a href="/products?category=TOP">Top</a></li>
      <li><a href="/products?category=BOTTOM">Bottom</a></li>
      <li><a href="/products?category=ACC">Acc</a></li>
  </ul>
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1><span clsas="d-block">Welcome my shopping mall.</span></h1>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="{{ url_for('static', filename='images/main_img.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>