<!--수정끝-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/welcome.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="title-container">
        <li class="title"><a href="/">group-2</a></li>
        <div class="login-register">
            {% if session['user'] %}
            <button id="viewUserInfo" onclick="window.location.href='/viewUserInfo'">{{session['user'].name}} mypage</button>
            <button id="logout" onclick="window.location.href='/logout'">Logout</button>
            <button id="viewCart" onclick="window.location.href='/viewCart'">Cart</button>
            {% endif %}
            {% if not session['user'] %}
            <button1 id="login" onclick="window.location.href='/viewLogin'">Login</button1>
            <button1 id="register" onclick="window.location.href='/viewRegister'">Register</button1>
            {% endif %}
        </div>
    </div>
    <div class="login-page">
      <div class="form">
        <form class="login-form" action="/login" method="post">
            {% if message != '' %}
                <span>{{message}}</span><br>
            {% endif %}
          <input type="text" name="login_id" placeholder="id"/>
          <input type="password" name="login_password" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="/viewRegister">Create an account</a></p>
            <p class="message">I want to go home.. <a href="/">Go home</a></p>
        </form>
      </div>
    </div>
</body>
</html>