<!--수정끝-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/welcome.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="title-container">
        <li class="title"><a href="'/'">group-2</a></li>
        <div class="login-register">
        <button1 id="login" onclick="window.location.href='/viewLogin'">Login</button1>
        <button1 id="home" onclick="window.location.href='/'">Home</button1>
        </div>
    </div>

    <div class="login-page">
      <div class="form">
        <form class="register-form" action="/register" method="post">
            {% if message != '' %}
                <span>{{message}}</span><br>
            {% endif %}
          <input type="text" name="id" placeholder="id"/>
          <input type="password" name="password" placeholder="password"/>
          <input type="text" name="username" placeholder="username"/>
            <input type="text" name="phone" placeholder="phone"/>
            <input type="text" name="email" placeholder="email"/>
            <input type="text" name="address" placeholder="address"/>
          <button>create</button>
          <p class="message">Already registered? <a href="/viewLogin">Sign In</a></p>
        </form>
      </div>
    </div>
</body>
</html>