<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserInfo</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/welcome.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <ul>
      <li><a href="/">Home</a></li>
      {% if session['user'] %}
        <li><a href="/viewUserInfo">{{session['user'].name}}</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/viewCart">Cart</a></li>
      {% endif %}
      {% if not session['user'] %}
        <li><a href="/viewLogin">Login & Register</a></li>
      {% endif %}

      <li><a href="/products?category=all">All products</a></li>
      <li><a href="/products?category=OUTER">Outer</a></li>
      <li><a href="/products?category=TOP">Top</a></li>
      <li><a href="/products?category=BOTTOM">Bottom</a></li>
      <li><a href="/products?category=ACC">Acc</a></li>
  </ul>
    <div class="login-page">
      <div class="form">
        <form class="register-form" action="/updateUserInfo" method="post">
            {% if message != '' %}
                <span>{{message}}</span><br>
            {% endif %}
          <input type="text" name="id" placeholder="id" value="{{ session['user'].id }}" readonly/>
          <input type="password" name="password" placeholder="password"/>
          <input type="text" name="username" placeholder="username" value="{{ session['user'].name }}"/>
            <input type="text" name="phone" placeholder="phone" value="{{ session['user'].phone }}"/>
            <input type="text" name="email" placeholder="email" value="{{ session['user'].email }}"/>
            <input type="text" name="address" placeholder="address" value="{{ session['user'].address }}"/>
          <button>Update</button>
          <p class="message">Delete account <a href="/deleteUser">Delete</a></p>
        </form>
      </div>
    </div>
</body>
</html>